{{ define "header" }}
<div id="control_panel">
    <a class="button" id="projects" href="/">
      <h3>Мониторниг</h3><img src="public/img/spyder_icon.png">
      </a>
    <a class="button" id="bd_settings" href="/bd_settings">
      <h3>Базы даных</h3>
      <img src="public/img/bd_icon.png">
    </a>
    <a class="button" id="spdr_settings" href="/spyder_settings">
      <h3>Конфигурации</h3>
      <img src="public/img/cfg_icon.png">
    </a>
    <a class="button" id="spdr_settings" href="/result">
      <h3>Отчет</h3>
      <img src="public/img/res_icon.png">
    </a>
</div>
{{ end }}